* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #05386B;
    /*color: #05386B*/
    
}

/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */

/* HEADER  */

.header-general-container {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05386B;
    
}

.header-menu-container {
    background-color: #05386B;
    width: 70%;
    height: 8vh;

}

.menu-header-button {
    width: 100px;
    height: 8vh;
    border: none;
    background-color: transparent;
    color: #EDF5E1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15pt;
    
}

.menu-header-button a {
    text-decoration: none;
    color: #EDF5E1;
    padding: 20px 5px;
    
}

.menu-header-button a:hover {
    text-decoration: none;
    background-color: #EDF5E1;
    color: #05386B;
    
}



.menu-header-button:hover {
    cursor: pointer;
    color: #05386B;
}

h2 {
    color: #EDF5E1;
    font-size: 25pt;
    user-select: none;
}

#btn-menu {
    border: none;
    width: 100px;
    height: 8vh;
    font-size: 40pt;
    background-color: transparent;
}

#btn-menu:hover {
    cursor: pointer;
}



.header-menu-smartphone-display {
    display: none;
    
}

.header-menu-square {
    display: none;
    user-select: none;
}




.header-menu-square label:hover {
    cursor: pointer;
}

#login-button-pc-version {
    border: 2px solid #F64C72;
    padding: 10px;
    color: #F64C72;
}



/* HEADER - CELULAR - TABLET */
@media (max-width: 700px) {


    .header-general-container {
        height: 8vh;
        
    }
    .header-menu-logo h2 {
        font-size: 20pt;
    }

    .header-menu-container {
        display: none;
    }

    .header-menu-smartphone-display-container {
        display: block;
        width: 20%;
        height: 9vh;
        position: fixed;
        
    }

    .header-menu-square {
        display: block;
        width: 100px;
        height: 9vh;
        font-size: 45pt;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: fixed;
    }
    .header-menu-square:hover {
        cursor: pointer;
        
    }
    .header-menu-menu-options-container {
        width: 100%;
        height: 50vh;
        position: fixed;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid #EDF5E1;
    }
    
    .header-menu-options-button {
        width: 100%;
        height: 12.5vh;
        background-color: #05386B;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-menu-options-button:hover {
        background-color: #EDF5E1;
        cursor: pointer;
        
    }

    .header-menu-options-button:hover a {
        color: #05386B;
    }

    .header-menu-options-centralize {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-menu-options-centralize a {
        padding: 30px 150px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20pt;
        color: #EDF5E1;
        text-decoration: none;
    }

    #img-menu-smartphone {
        width: 70px;
        height: 67px;
    }

    #img-menu-smartphone-aux {
        width: 40px;
        height: 40px;
        position: fixed;
        margin-left: 70px;
        margin-top: -20px;
        transform: rotate(15deg);
    }

    

    

}
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */

/* BODY SECTION 1 */

.all_app_body {
    
}

.box-separ {
    width: 100%;
    height: 200px;
}

.body-general-container {
    max-width: 1200px;
    margin: 0 auto;
    user-select: none;
    
}

.title h2 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #F64C72;
    font-weight: 500;
}

.item p {
    margin-top: 40px;
    color: #00FFD1;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.images-body-sec-one {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    border-right: 1px solid #F64C72;
    border-bottom: 1px solid #F64C72;
    background-image: url("../img/wallpaper_w.png");
    background-size: cover;
}

.campo-body-field {
    width: 295px;
    height: 295px;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}

.campo-body-field img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#campo-body-um, #campo-body-dois img {box-shadow: 5px 5px #00FFD1;}

#campo-body-um:hover {transform: scale(1.1);transition: all 0.4 ease-in-out;cursor: pointer;}
#campo-body-dois:hover {transform: scale(1.1);transition: all 0.4 ease-in-out;cursor: pointer;}

#campo-body-tres {
    border-radius: 0%;
    border: none;
    box-shadow: none;
    width: 200px;
    margin-left: 70px;
}

#campo-body-tres img {
    width: 150px;
    height: 150px;

    margin-top: 120px;
}




@media (max-width: 700px) {
    .campo-body-field {
        width: 98%;
        margin-left: 0;
        margin-top: 50px;
    }
    #campo-body-tres {
        border-radius: 0%;
        border: none;
        box-shadow: none;
        width: 98%;
        margin-left: 0px;
    }

    #campo-body-tres img {
        width: 200px;
        height: 200px;
    }
    
    .images-body-sec-one {
        height: 300px;
    }
    #campo-body-um img {box-shadow: 5px 5px #00FFD1;}
    #campo-body-dois img {box-shadow: 5px 5px #00FFD1;}

    #campo-body-um, #campo-body-dois {box-shadow: none;}
}


/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */

/* SECTION 2 */


#title-h2-section-two, #title-p-section-two {
    text-align: center;
}

.images-body-sec-two {
    width: 100%;
    height: 400px;
    margin-top: 120px;

}

.campo-body-field-sec-2 {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    margin-right: 45px;
    float: left;
}

.campo-body-field-sec-2 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.campo-body-field-sec-2:hover {transform: scale(1.1);cursor: pointer;}

#campo-body-um, #campo-body-dois img {box-shadow: 5px 5px #00FFD1;}

#campo-zero-sec-2 {
    border-radius: 0;
    width: 100px;
}

#campo-um-sec-2-img {
    border: 4px solid rgb(255, 0, 0);
}
#campo-dois-sec-2-img {
    border: 4px solid rgb(0, 255, 13);
}
#campo-tres-sec-2-img {
    border: 4px solid rgb(255, 0, 234);
}
#campo-quatro-sec-2-img {
    border: 4px solid rgb(255, 217, 0);
}


@media (max-width: 1200px) {
    .campo-body-field-sec-2 {
        width: 98%;
        margin-left: 0;
        margin-top: 50px;
    }
    .images-body-sec-two {
        height: 1200px;
    
    }
    
    .images-body-sec-one {
        height: 1150px;
    }
    #campo-body-um img {box-shadow: 5px 5px #00FFD1;}
    #campo-body-dois img {box-shadow: 5px 5px #00FFD1;}

    #campo-body-um, #campo-body-dois {box-shadow: none;}

    #campo-zero-sec-2 {visibility: hidden;}
    #campo-um-sec-2 {
        margin-top: -200px;
    }
}

/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */

/* SECTION 3 */

.images-body-sec-tres {
    width: 100%;
    height: 250px;
    margin-top: 120px;
    

}

.campo-body-field-sec-3 {
    width: 1000px;
    float: left;
    height: 550px;
}

.campo-body-field-sec-3 img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.campo-body-field-sec-3 img:hover {transform: scale(1.1);cursor: pointer;}

#campo-dois-sec-3 {
    width: 50px;
    margin-top: -90px;
}

.faq-field {
    text-align: left;
    height: 50px;
    margin-bottom: 40px;
    border-bottom: 3px solid white;
    width: 80%;
}
.faq-field-answer {
    text-align: left;
    margin-bottom: 10px;
    display: none;
    margin-top: 30px;
}

/* resps */

#resp1 {
    
    height: 70px;
}

#resp2 {
    height: 230px;
}

#resp3 {
    height: 250px;
    
}

#resp4 {
    
    height: 70px;
}

/* resps === */

hr {
    width: 400px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.faq-field a {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
    
}

.faq-field a:hover {cursor: pointer;}

.faq-field a img {
    width: 20px;
    height: 20px;
    margin-left: 120px;
}

.resposta-faq {
    height: 30px;
}



.resposta-faq p {
    color: #00FFD1;
    display: none;
    height: 130px;
}

.questions-p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.answers-p {
    font-family: 'Courier New', Courier, monospace;
    color: #00FFD1;
}



.img-discord-insta-celu {display: none;float: right;margin-top: 40px;}


@media (max-width: 1200px) {
    .campo-body-field-sec-3 {
        width: 98%;
        margin-left: 0;
        margin-top: 50px;
    }
    .images-body-sec-tres {
        height: 600px;
    
    }
    #campo-dois-sec-3 {
        width: 98%;
        height: 70px;
        margin-top: 0;
    }
    .campo-body-field-sec-3 img {
        margin-right: 30px;
    }
    hr {
        width: 98%;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    .faq-field a img {
        display: none;
    }

    .faq-field {
        width: 90%;
    }
    #campo-dois-sec-3 {display: none;}
    .img-discord-insta-celu {display: block;}
}

/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */

/* SECTION 4 - footer */


.footer {
    width: 100%;
    height: 500px;
    background-image: url("../img/footer.png");
    background-size: cover;
}